@import "tailwindcss";

.rome {
    font-family: "Cinzel", serif;
  font-weight: 700;
    font-size: 30px;
  /* İçi taş rengi (zeminle aynı) */
  -webkit-text-fill-color: #d6cbb7;

  /* Kenarlık koyu kahverengi (kazıma derinliği için) */
  -webkit-text-stroke: 0.9px #3b2f26;

  letter-spacing: 2px;

}
.date{
    font-size: 14px;
}
